.u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url("images/f5f26670b970b34429dbae23572d62ae.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 708px;
}

.u-section-1 .u-group-1 {
  width: 534px;
  min-height: 163px;
  margin: 60px auto;
}

.u-section-1 .u-container-layout-1 {
  padding: 18px 40px 14px;
}

.u-section-1 .u-text-1 {
  font-weight: 400;
  font-family: "Black Han Sans";
  font-size: 3.75rem;
  margin: 0;
}

.u-section-1 .u-text-2 {
  text-transform: none;
  font-style: italic;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 1.875rem;
  font-weight: 400;
  margin: 19px 0 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 584px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 447px;
  }

  .u-section-1 .u-group-1 {
    width: 486px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-text-2 {
    font-size: 2.25rem;
  }
}

@media (max-width: 767px) {
  .u-section-1 {
    background-size: 140%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 427px;
  }

  .u-section-1 .u-text-1 {
    font-size: 4.5rem;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 370px;
  }

  .u-section-1 .u-group-1 {
    min-height: 196px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3rem;
    margin-top: -3px;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.6875rem;
    margin-top: 0;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 268px;
}

.u-section-2 .u-layout-wrap-1 {
  margin: -84px auto 60px 0;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 356px;
  background-image: none;
}

.u-section-2 .u-container-layout-1 {
  padding: 20px;
}

.u-section-2 .u-image-1 {
  height: 251px;
  margin: 0 auto 0 0;
}

.u-section-2 .u-text-1 {
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 356px;
}

.u-section-2 .u-container-layout-2 {
  padding: 20px;
}

.u-section-2 .u-image-2 {
  height: 251px;
  margin: 0 auto 0 0;
}

.u-section-2 .u-text-2 {
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 20px 0 0;
}

.u-section-2 .u-layout-cell-3 {
  min-height: 356px;
}

.u-section-2 .u-container-layout-3 {
  padding: 20px;
}

.u-section-2 .u-image-3 {
  height: 251px;
  margin: 0 auto 0 0;
}

.u-section-2 .u-text-3 {
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 20px 0 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 206px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 294px;
  }

  .u-section-2 .u-image-1 {
    height: 202px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 294px;
  }

  .u-section-2 .u-image-2 {
    height: 202px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 294px;
  }

  .u-section-2 .u-image-3 {
    height: 202px;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 12px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-image-1 {
    height: 148px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-2 .u-image-2 {
    height: 148px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-2 .u-image-3 {
    height: 148px;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 112px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-1 {
    height: 385px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-2 {
    height: 385px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-3 {
    height: 385px;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-image-1 {
    height: 237px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-image-2 {
    height: 237px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-image-3 {
    height: 237px;
    margin-right: initial;
    margin-left: initial;
  }
}.u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 932px;
}

.u-section-3 .u-layout-wrap-1 {
  width: 1140px;
  margin: 224px auto 60px;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 330px;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px 0 0 30px;
}

.u-section-3 .u-image-1 {
  width: 251px;
  height: 238px;
  margin: 0 0 0 auto;
}

.u-section-3 .u-image-2 {
  min-height: 313px;
  background-image: url("images/13405b6edaa984f72cdee94382ff1df4.jpg?version=");
  background-position: 50% 50%;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px;
}

.u-section-3 .u-layout-cell-3 {
  min-height: 643px;
}

.u-section-3 .u-container-layout-3 {
  padding: 30px 0;
}

.u-section-3 .u-image-3 {
  height: 408px;
  margin: 0 auto 0 0;
}

.u-section-3 .u-text-1 {
  margin: 20px 2px 0 0;
}

.u-section-3 .u-layout-cell-4 {
  min-height: 643px;
}

.u-section-3 .u-container-layout-4 {
  padding: 30px 0 30px 30px;
}

.u-section-3 .u-group-1 {
  width: 404px;
  min-height: 268px;
  margin: 70px auto 0 -132px;
}

.u-section-3 .u-container-layout-5 {
  padding: 30px;
}

.u-section-3 .u-text-2 {
  font-size: 2.25rem;
  margin: 34px 96px 0 0;
}

.u-section-3 .u-text-3 {
  margin: 20px 0 0;
}

@media (max-width: 1199px) {
  .u-section-3 {
    min-height: 655px;
  }

  .u-section-3 .u-sheet-1 {
    min-height: 819px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 940px;
    margin-left: 100px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 272px;
  }

  .u-section-3 .u-image-2 {
    min-height: 258px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 530px;
  }

  .u-section-3 .u-image-3 {
    height: 336px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-text-1 {
    margin-right: 0;
  }

  .u-section-3 .u-layout-cell-4 {
    min-height: 530px;
  }

  .u-section-3 .u-group-1 {
    width: 371px;
    min-height: 270px;
    margin-top: 33px;
    margin-left: -156px;
  }

  .u-section-3 .u-text-2 {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 655px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-left: 0;
    width: 720px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 432px;
  }

  .u-section-3 .u-image-1 {
    width: 608px;
    height: 372px;
    object-position: 50% 20.47%;
    background-position: 50% 20.47%;
  }

  .u-section-3 .u-image-2 {
    min-height: 459px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-3 .u-image-3 {
    height: 425px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-layout-cell-4 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 0;
  }

  .u-section-3 .u-image-1 {
    height: 330px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-image-2 {
    min-height: 344px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-bottom: 0;
  }

  .u-section-3 .u-image-3 {
    height: 503px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-container-layout-4 {
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
  }

  .u-section-3 .u-group-1 {
    width: 404px;
    margin-top: 0;
    margin-left: auto;
  }

  .u-section-3 .u-text-2 {
    font-size: 3rem;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 382px;
  }

  .u-section-3 .u-image-1 {
    height: 322px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-image-2 {
    min-height: 239px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 433px;
  }

  .u-section-3 .u-image-3 {
    height: 317px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-group-1 {
    width: 330px;
  }

  .u-section-3 .u-text-2 {
    font-size: 2.25rem;
  }
}.u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 214px;
}

.u-section-4 .u-group-1 {
  width: 832px;
  min-height: 158px;
  margin: 28px auto;
}

.u-section-4 .u-container-layout-1 {
  padding-left: 20px;
  padding-right: 20px;
}

.u-section-4 .u-text-1 {
  font-size: 2.25rem;
  margin: 15px 0 0;
}

.u-section-4 .u-text-2 {
  font-style: italic;
  font-size: 1.125rem;
  margin: 20px 0 15px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 206px;
  }

  .u-section-4 .u-group-1 {
    width: 686px;
    margin-top: 24px;
    margin-bottom: 20px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 16px;
    padding-right: 16px;
  }

  .u-section-4 .u-text-1 {
    position: relative;
    margin-top: 29px;
    margin-left: 16px;
    margin-right: 16px;
    font-size: 3rem;
  }

  .u-section-4 .u-text-2 {
    position: relative;
    margin-bottom: 0;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-group-1 {
    width: 525px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 13px;
    padding-right: 13px;
  }

  .u-section-4 .u-text-1 {
    margin-top: 15px;
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-4 .u-text-2 {
    margin-bottom: 15px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-group-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 9px;
    padding-right: 9px;
  }

  .u-section-4 .u-text-1 {
    margin-left: 9px;
    margin-right: 9px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-group-1 {
    width: 340px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 6px;
    padding-right: 6px;
  }

  .u-section-4 .u-text-1 {
    font-size: 1.875rem;
    margin-left: 6px;
    margin-right: 6px;
  }
}.u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 773px;
}

.u-section-5 .u-layout-wrap-1 {
  margin: 35px auto 84px 0;
}

.u-section-5 .u-layout-cell-1 {
  min-height: 401px;
  background-image: none;
}

.u-section-5 .u-image-1 {
  height: 298px;
  margin: 0 auto 0 0;
}

.u-section-5 .u-text-1 {
  font-size: 1.25rem;
  font-style: italic;
  margin: 22px 20px 0 60px;
}

.u-section-5 .u-icon-1 {
  height: 26px;
  width: 26px;
  margin: -29px auto 23px 20px;
}

.u-section-5 .u-layout-cell-2 {
  background-image: none;
  min-height: 401px;
}

.u-section-5 .u-image-2 {
  height: 298px;
  margin: 0 auto 0 0;
}

.u-section-5 .u-text-2 {
  font-size: 1.25rem;
  font-style: italic;
  margin: 22px 20px 0 60px;
}

.u-section-5 .u-icon-2 {
  height: 26px;
  width: 26px;
  margin: -29px auto 23px 20px;
}

.u-section-5 .u-layout-cell-3 {
  background-image: none;
  min-height: 401px;
}

.u-section-5 .u-image-3 {
  height: 298px;
  margin: 0 auto 0 0;
}

.u-section-5 .u-text-3 {
  font-size: 1.25rem;
  font-style: italic;
  margin: 22px 20px 0 60px;
}

.u-section-5 .u-icon-3 {
  height: 26px;
  width: 26px;
  margin: -29px auto 23px 20px;
}

.u-section-5 .u-layout-cell-4 {
  background-image: none;
  min-height: 401px;
}

.u-section-5 .u-image-4 {
  height: 298px;
  margin: 0 auto 0 0;
}

.u-section-5 .u-text-4 {
  font-size: 1.25rem;
  font-style: italic;
  margin: 22px 20px 0 60px;
}

.u-section-5 .u-icon-4 {
  height: 26px;
  width: 26px;
  margin: -29px auto 23px 20px;
}

.u-section-5 .u-layout-cell-5 {
  background-image: none;
  min-height: 401px;
}

.u-section-5 .u-image-5 {
  height: 298px;
  margin: 0 auto 0 0;
}

.u-section-5 .u-text-5 {
  font-size: 1.25rem;
  font-style: italic;
  margin: 7px 20px 0 60px;
}

.u-section-5 .u-icon-5 {
  height: 26px;
  width: 26px;
  margin: -46px auto 0 20px;
}

.u-section-5 .u-layout-cell-6 {
  background-image: none;
  min-height: 401px;
}

.u-section-5 .u-image-6 {
  height: 298px;
  margin: 0 auto 0 0;
}

.u-section-5 .u-text-6 {
  font-size: 1.25rem;
  font-style: italic;
  margin: 22px 20px 0 60px;
}

.u-section-5 .u-icon-6 {
  height: 26px;
  width: 26px;
  margin: -29px auto 23px 20px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-image-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-text-1 {
    margin-right: 16px;
    margin-left: 49px;
  }

  .u-section-5 .u-icon-1 {
    margin-left: 16px;
  }

  .u-section-5 .u-image-2 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-text-2 {
    margin-right: 16px;
    margin-left: 49px;
  }

  .u-section-5 .u-icon-2 {
    margin-left: 16px;
  }

  .u-section-5 .u-image-3 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-text-3 {
    margin-right: 16px;
    margin-left: 49px;
  }

  .u-section-5 .u-icon-3 {
    margin-left: 16px;
  }

  .u-section-5 .u-image-4 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-text-4 {
    margin-right: 16px;
    margin-left: 49px;
  }

  .u-section-5 .u-icon-4 {
    margin-left: 16px;
  }

  .u-section-5 .u-layout-cell-5 {
    min-height: 428px;
  }

  .u-section-5 .u-image-5 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-text-5 {
    margin-right: 16px;
    margin-left: 49px;
  }

  .u-section-5 .u-icon-5 {
    margin-left: 16px;
  }

  .u-section-5 .u-image-6 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-text-6 {
    margin-right: 16px;
    margin-left: 49px;
  }

  .u-section-5 .u-icon-6 {
    margin-left: 16px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-text-1 {
    margin-right: 13px;
    margin-left: 52px;
  }

  .u-section-5 .u-icon-1 {
    margin-left: 13px;
  }

  .u-section-5 .u-text-2 {
    margin-right: 13px;
    margin-left: 52px;
  }

  .u-section-5 .u-icon-2 {
    margin-left: 13px;
  }

  .u-section-5 .u-text-3 {
    margin-right: 13px;
    margin-left: 52px;
  }

  .u-section-5 .u-icon-3 {
    margin-left: 13px;
  }

  .u-section-5 .u-text-4 {
    margin-right: 13px;
    margin-left: 52px;
  }

  .u-section-5 .u-icon-4 {
    margin-left: 13px;
  }

  .u-section-5 .u-text-5 {
    margin-right: 13px;
    margin-left: 52px;
  }

  .u-section-5 .u-icon-5 {
    margin-left: 13px;
  }

  .u-section-5 .u-text-6 {
    margin-right: 13px;
    margin-left: 52px;
  }

  .u-section-5 .u-icon-6 {
    margin-left: 13px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-text-1 {
    margin-right: 9px;
    margin-left: 44px;
  }

  .u-section-5 .u-icon-1 {
    margin-left: 9px;
  }

  .u-section-5 .u-text-2 {
    margin-right: 9px;
    margin-left: 44px;
  }

  .u-section-5 .u-icon-2 {
    margin-left: 9px;
  }

  .u-section-5 .u-text-3 {
    margin-right: 9px;
    margin-left: 44px;
  }

  .u-section-5 .u-icon-3 {
    margin-left: 9px;
  }

  .u-section-5 .u-text-4 {
    margin-right: 9px;
    margin-left: 44px;
  }

  .u-section-5 .u-icon-4 {
    margin-left: 9px;
  }

  .u-section-5 .u-layout-cell-5 {
    min-height: 401px;
  }

  .u-section-5 .u-text-5 {
    margin-right: 9px;
    margin-left: 44px;
  }

  .u-section-5 .u-icon-5 {
    margin-left: 9px;
  }

  .u-section-5 .u-text-6 {
    margin-right: 9px;
    margin-left: 35px;
  }

  .u-section-5 .u-icon-6 {
    margin-left: 9px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-text-1 {
    margin-right: 12px;
    margin-left: 38px;
  }

  .u-section-5 .u-icon-1 {
    margin-left: 6px;
  }

  .u-section-5 .u-text-2 {
    margin-right: 6px;
    margin-left: 38px;
  }

  .u-section-5 .u-icon-2 {
    margin-left: 6px;
  }

  .u-section-5 .u-text-3 {
    margin-right: 6px;
    margin-left: 38px;
  }

  .u-section-5 .u-icon-3 {
    margin-left: 6px;
  }

  .u-section-5 .u-text-4 {
    margin-right: 6px;
    margin-left: 38px;
  }

  .u-section-5 .u-icon-4 {
    margin-left: 6px;
  }

  .u-section-5 .u-text-5 {
    margin-right: 6px;
    margin-left: 38px;
  }

  .u-section-5 .u-icon-5 {
    margin-left: 6px;
  }

  .u-section-5 .u-text-6 {
    margin-right: 6px;
    margin-left: 38px;
  }

  .u-section-5 .u-icon-6 {
    margin-left: 6px;
  }
}.u-section-6 {
  background-image: none;
}

.u-section-6 .u-sheet-1 {
  min-height: 607px;
}

.u-section-6 .u-text-1 {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 3.75rem;
  margin: 54px 1px 0;
}

.u-section-6 .u-repeater-1 {
  width: 1140px;
  min-height: 375px;
  grid-template-columns: calc(33.3333% - 15px) calc(33.3333% - 15px) calc(33.3333% - 15px);
  grid-gap: 22px;
  margin: 50px auto 60px 0;
}

.u-section-6 .u-repeater-item-1 {
  box-shadow: 5px 5px 8px 0 rgba(0,0,0,0.15);
}

.u-section-6 .u-container-layout-1 {
  padding: 30px 20px;
}

.u-section-6 .u-image-1 {
  height: 231px;
  width: 325px;
  margin: 0 auto;
}

.u-section-6 .u-metadata-1 {
  font-size: 0.875rem;
  margin: 17px auto 0;
}

.u-section-6 .u-text-2 {
  margin: 15px 0 0;
}

.u-section-6 .u-repeater-item-2 {
  box-shadow: 5px 5px 8px 0 rgba(0,0,0,0.15);
}

.u-section-6 .u-container-layout-2 {
  padding: 30px 20px;
}

.u-section-6 .u-image-2 {
  height: 231px;
  width: 325px;
  margin: 0 auto;
}

.u-section-6 .u-metadata-2 {
  font-size: 0.875rem;
  margin: 17px auto 0;
}

.u-section-6 .u-text-3 {
  margin: 15px 0 0;
}

.u-section-6 .u-repeater-item-3 {
  box-shadow: 5px 5px 8px 0 rgba(0,0,0,0.15);
}

.u-section-6 .u-container-layout-3 {
  padding: 30px 20px;
}

.u-section-6 .u-image-3 {
  height: 231px;
  width: 325px;
  margin: 0 auto;
}

.u-section-6 .u-metadata-3 {
  font-size: 0.875rem;
  margin: 17px auto 0;
}

.u-section-6 .u-text-4 {
  margin: 15px 0 0;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 541px;
  }

  .u-section-6 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
    width: 687px;
  }

  .u-section-6 .u-repeater-1 {
    width: 940px;
    min-height: 309px;
    grid-template-columns: repeat(3, calc(33.333333333333336% - 15px));
  }

  .u-section-6 .u-repeater-item-1 {
    background-size: auto;
  }

  .u-section-6 .u-image-1 {
    width: 258px;
  }

  .u-section-6 .u-repeater-item-2 {
    background-size: auto;
  }

  .u-section-6 .u-image-2 {
    width: 258px;
  }

  .u-section-6 .u-repeater-item-3 {
    background-size: auto;
  }

  .u-section-6 .u-image-3 {
    width: 258px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 942px;
  }

  .u-section-6 .u-repeater-1 {
    width: 720px;
    min-height: 711px;
    grid-template-columns: repeat(2, calc(((100% - 720px) / 2)  + 349px));
  }

  .u-section-6 .u-image-1 {
    width: 308px;
  }

  .u-section-6 .u-image-2 {
    width: 308px;
  }

  .u-section-6 .u-image-3 {
    width: 308px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-text-1 {
    width: 540px;
    font-size: 3.4375rem;
  }

  .u-section-6 .u-repeater-1 {
    width: 540px;
    grid-template-columns: repeat(1, 100%);
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-6 .u-image-1 {
    height: 322px;
    width: 480px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-6 .u-image-2 {
    height: 322px;
    width: 480px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-6 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-6 .u-image-3 {
    height: 322px;
    width: 480px;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-text-1 {
    width: 340px;
    font-size: 3rem;
  }

  .u-section-6 .u-repeater-1 {
    width: 340px;
    grid-template-columns: 100%;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-6 .u-image-1 {
    height: 215px;
    width: 300px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-6 .u-image-2 {
    height: 215px;
    width: 300px;
  }

  .u-section-6 .u-container-layout-3 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-6 .u-image-3 {
    height: 215px;
    width: 300px;
  }
}.u-section-7 .u-sheet-1 {
  min-height: 1045px;
}

.u-section-7 .u-shape-1 {
  width: 927px;
  height: 548px;
  margin: 269px auto 0 -38px;
}

.u-section-7 .u-shape-2 {
  width: 861px;
  height: 511px;
  margin: -627px 20px 0 auto;
}

.u-section-7 .u-layout-wrap-1 {
  width: 945px;
  margin: -537px 69px 60px auto;
}

.u-section-7 .u-layout-cell-1 {
  min-height: 457px;
  background-image: none;
}

.u-section-7 .u-container-layout-1 {
  padding: 30px;
}

.u-section-7 .u-text-1 {
  text-transform: none;
  font-size: 2.25rem;
  margin: 55px 0 0;
}

.u-section-7 .u-text-2 {
  font-size: 1.25rem;
  line-height: 2;
  margin: 28px 0 0;
}

.u-section-7 .u-social-icons-1 {
  white-space: nowrap;
  height: 26px;
  min-height: 16px;
  width: 162px;
  min-width: 124px;
  margin: 20px auto 0 0;
}

.u-section-7 .u-icon-1 {
  height: 100%;
}

.u-section-7 .u-icon-2 {
  height: 100%;
}

.u-section-7 .u-icon-3 {
  height: 100%;
}

.u-section-7 .u-icon-4 {
  height: 100%;
}

.u-section-7 .u-layout-cell-2 {
  min-height: 457px;
  background-image: none;
}

.u-section-7 .u-container-layout-2 {
  padding: 15px 20px;
}

.u-section-7 .u-form-1 {
  height: 347px;
  margin: 1px auto 0 0;
}

.u-section-7 .u-form-group-1 {
  width: 100%;
}

.u-section-7 .u-input-1 {
  font-size: 1.125rem;
  text-transform: none;
}

.u-section-7 .u-form-group-2 {
  width: 100%;
}

.u-section-7 .u-input-2 {
  font-size: 1.125rem;
  text-transform: none;
}

.u-section-7 .u-form-group-3 {
  width: 100%;
}

.u-section-7 .u-input-3 {
  font-size: 1.125rem;
  text-transform: none;
}

.u-section-7 .u-form-group-4 {
  width: 100%;
}

.u-section-7 .u-input-4 {
  font-size: 1.125rem;
  text-transform: none;
}

.u-section-7 .u-form-group-5 {
  width: 100%;
}

.u-section-7 .u-input-5 {
  font-size: 1.125rem;
  text-transform: none;
}

.u-section-7 .u-form-group-6 {
  width: 100%;
}

.u-section-7 .u-btn-1 {
  border-style: none;
  letter-spacing: 1px;
  font-size: 1.125rem;
  font-weight: 700;
  text-transform: uppercase;
  background-image: none;
}

@media (max-width: 1199px) {
  .u-section-7 .u-sheet-1 {
    min-height: 768px;
  }

  .u-section-7 .u-shape-1 {
    width: 946px;
    height: 519px;
    margin-left: -26px;
  }

  .u-section-7 .u-shape-2 {
    width: 894px;
    margin-right: -13px;
  }

  .u-section-7 .u-layout-wrap-1 {
    width: 862px;
    margin-right: auto;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 454px;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 455px;
  }

  .u-section-7 .u-form-1 {
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-sheet-1 {
    min-height: 708px;
  }

  .u-section-7 .u-shape-1 {
    width: 760px;
    height: 525px;
    margin-top: 67px;
    margin-right: -40px;
    margin-left: auto;
  }

  .u-section-7 .u-shape-2 {
    width: 757px;
    height: 490px;
    margin-right: auto;
    margin-left: -37px;
  }

  .u-section-7 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-sheet-1 {
    min-height: 1160px;
  }

  .u-section-7 .u-shape-1 {
    height: 553px;
    width: 469px;
    margin-top: 50px;
    margin-right: 0;
  }

  .u-section-7 .u-shape-2 {
    height: 572px;
    width: 511px;
    margin-top: -64px;
    margin-left: -26px;
  }

  .u-section-7 .u-layout-wrap-1 {
    width: 459px;
    margin-top: -891px;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 388px;
  }

  .u-section-7 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-7 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-sheet-1 {
    min-height: 1124px;
  }

  .u-section-7 .u-shape-1 {
    width: 369px;
    margin-right: -29px;
  }

  .u-section-7 .u-shape-2 {
    height: 513px;
    width: 348px;
    margin-left: -38px;
  }

  .u-section-7 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-7 .u-container-layout-1 {
    padding-left: 25px;
    padding-right: 25px;
  }

  .u-section-7 .u-text-1 {
    font-size: 2.25rem;
  }
}